<div class="container mt-5">
<div class="row">
  <div class="col-6 ">
    <h2>Employee</h2>
  </div>
  <div class="col-6 text-end ">
   <button class="btn btn-success" (click)="isFormVisible.set(true)">Add new</button>
  </div>
</div>
@if(isFormVisible()){
  <form class="row g-3">
    <!-- Left Column Fields -->
    <div class="col-md-6">
      <label for="employeeName" class="form-label">Employee Name</label>
      <input type="text" class="form-control" [(ngModel)]="employeeObj.employeeName" name="employeeName" id="employeeName" placeholder="Enter employee name">
    </div>

    <div class="col-md-6">
      <label for="contactNo" class="form-label">Contact No</label>
      <input type="text" class="form-control"  [(ngModel)]="employeeObj.contactNo" name="contactNo" id="contactNo" placeholder="Enter contact number">
    </div>

    <div class="col-md-4">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control"  [(ngModel)]="employeeObj.emailId" name="emailId" id="emailId" placeholder="Enter email">
    </div>

    <div class="col-md-4">
      <label for="depId" class="form-label">Parent Department</label>
      <select class="form-select" id="depId" [(ngModel)]="employeeObj.parentDeptId" name="parentDeptId" (change)="onParentChange()">

        <option selected>Select department</option>
        @for (item of parentDeptList(); track $index){
        <option [value]="item.departmentName">{{item.departmentName}}</option>
        }
      </select>
    </div>
    <div class="col-md-4">
      <label for="department" class="form-label">Child Department</label>
      <select class="form-select" id="depId" [(ngModel)]="employeeObj.deptId" name="childDeptId">
        <option selected>Select department</option>
        @for (item of childDeptList(); track $index){
          <option [value]="item.childDeptId">{{item.departmentName}}</option>
          }
      </select>
    </div>

    <div class="col-md-6">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" [(ngModel)]="employeeObj.password" name="password" id="password" placeholder="Enter password">
    </div>

    <div class="col-md-6">
      <label for="role" class="form-label">Role</label>
      <input type="text" class="form-control" [(ngModel)]="employeeObj.role" name="role" id="role" placeholder="Enter role">
    </div>

    <div class="col-md-6">
      <label for="gender" class="form-label">Gender</label>
      <select class="form-select" id="gender" name="gender" [(ngModel)]="employeeObj.gender">
        <option selected>Select gender</option>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
      </select>
    </div>

    <div class="col-12">
      @if(this.employeeObj.employeeId == 0){
        <button type="submit" class="btn btn-primary mt-3" (click)="onSave()">Save Employee</button>
      } @else{
        <button type="submit" class="btn btn-warning mt-3" (click)="onUpdate()">Update Employee</button>

      }


   <button class="btn btn-success mt-3 text-end" (click)="isFormVisible.set(false)">Close</button>
  </div>
  </form>

}

  <!-- Employee List Table -->
  <h2 class="mt-5">Employee List</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Sr No</th>
        <th scope="col">Name</th>
        <th scope="col">Contact No</th>
        <th scope="col">Email</th>
        <th scope="col">Department</th>
        <th scope="col">Role</th>

        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      @for(item of employeetList(); track $index){
        <tr>
          <td>{{$index+1}}</td>
          <td>{{item.employeeName}}</td>
          <td>{{item.contactNo}}</td>
          <td>{{item.emailId}}</td>
          <td>{{item.deptId}}</td>
          <td>{{item.role}}</td>
          <td>
            <button type="button" class="btn btn-primary mt-3" (click)="onEdit(item)">Edit</button>
            <button type="button" class="btn btn-primary mt-3" (click)="onDelete(item.employeeId)">Delete</button>
          </td>
        </tr>
      }


    </tbody>
  </table>
</div>
