<div class="container my-4">
  <div class="tab-pane fade show active" id="projects" role="tabpanel">


    <div class="row">
      <div class="col-6">
        <h2>Projects</h2>
      </div>
      <div class="col-6">
        <button routerLink="/new-project/0" class="btn btn-success">New Project</button>
      </div>
    </div>

      <table class="table table-bordered">
         <thead>
          <tr>
          <th>Project ID</th>
          <th>Project Name</th>
          <th>Client Name</th>
          <th>Start Date</th>
          <th>Lead By Employee</th>
          <th>Actions</th>
          </tr>
          </thead>
          <tbody>
                  <!-- Data rows go here -->
          </tbody>
      </table>
            </div>



